<script type="text/javascript"
        src="{{ url_for('static', filename='dist/js/jquery.js') }}">
</script> 

<script type="text/javascript"
        src="{{ url_for('static', filename='dist/js/framework7.min.js') }}">
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='dist/js/my-app.js') }}">
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='dist/js/flipclock.min.js') }}">
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='dist/js/WebAudioRecorder.js') }}">
</script>

<script type="text/javascript"
        src="{{ url_for('static', filename='dist/js/jquery-ui.js') }}">
</script>
