{% extends 'base/base.jinja.html' %}

{% block content %}


	<div class="block">
		<div class="title">¿A dónde quieres ir?</div>
		<div class="searchbar-backdrop"></div>
	<form class="searchbar">
	  <div class="searchbar-inner">
	    <div class="searchbar-input-wrap">
	      <input type="search" placeholder="Search">
	      <span class="input-clear-button"></span>
	    </div>
	    <span class="searchbar-disable-button">Cancel</span>
	  </div>
	</form>
	<div class="block">
      	<div class="list simple-list">
		<div class="title">Rutas que pasan por UTP desde tu ubicación:</div>
		 <ul>
      <li><p><a class="link popup-open" href="#" data-popup=".popup-25a">25A</a></p>
       </li>
       <li><p><a class="link popup-open" href="#" data-popup=".popup-7a">7A</a></p>
       </li>
       <li><p><a class="link popup-open" href="#" data-popup=".popup-23">23</a></p>
    

       </li>
    </ul>



	</div>	
	</div>
	
	 <div class="popup popup-25a">
    <div class="block">

     <div class="content-block-title" >Ruta 25A </div>
     <div class="row">
     	<div class="col-55">
     		<img src="static/dist/img/25a.png" aling=bottom height="175">
     	</div>
     	
     </div>
    <div class="list-block" >
      <ul>
      	<li>
            <div class="card">
			  <div class="card-header"><p><i class="icon f7-icons color-green " style="padding: 5px">ticket_fill</i>Ruta:</p></div>
			  <div class="card-content card-content-padding">EL REMANSO - MONTE LIBANO- UTP – EL REMANSO 49.402 Kms</div>
			</div>
            </li>

            <li>
            <div class="card">
			  <div class="card-header"><p><i class="icon f7-icons color-green " style="padding: 5px">time_fill</i>Horarios:</p></div>
			  <div class="card-content card-content-padding">
			  	 6:00 a.m. 
		      		6:30 a.m. 
		      		7:00 a.m. 
		     		7:30 a.m. 
		  			11:30 a.m. 
					12:00 m
					5:00 p.m. 
					5:30 p.m. 
					6:00 p.m. 
					6:30 p.m.
			  </div>
			</div>
            </li>

            <li>
            <div class="card">
			  <div class="card-header"><p><i class="icon f7-icons color-green " style="padding: 5px">timer_fill</i>Tiempo restante hasta parada más cercana:</p>
			  </div>
			  <div class="card-content card-content-padding">
			  	30 minutos
			  </div>
			</div>
            </li>
        </ul>
	 </div>
	</div>
	<div>
	    <p class="link popup-close" >
	      <a href="#" class="center-center button button color-green" style="margin-left: 30px; margin-top: 10;"> Cerrar  </a><br>
	      </p>
	       </div>
	   </div>








	   	 <div class="popup popup-7a">
    <div class="block">

     <div class="content-block-title" >Ruta 7A </div>
     <div class="row">
     	<div class="col-55">
     		<img src="static/dist/img/7a.png" aling=bottom height="175">
     	</div>
     	
     </div>
    <div class="list-block" >
      <ul>
      	<li>
            <div class="card">
			  <div class="card-header"><p><i class="icon f7-icons color-green " style="padding: 5px">ticket_fill</i>Ruta:</p></div>
			  <div class="card-content card-content-padding">SAMARIA - UTP - SAMARIA 23.36 Kms</div>
			</div>
            </li>

            <li>
            <div class="card">
			  <div class="card-header"><p><i class="icon f7-icons color-green " style="padding: 5px">time_fill</i>Horarios:</p></div>
			  <div class="card-content card-content-padding">
			  	 Saliendo de Samaria de las 5:00 a.m. a 8:00 a.m. cada 15 minutos Saliendo de la UTP de las 11:30 a.m. a 2:00 p.m. cada 15 minutos Saliendo de Samaria a las 5:30 p.m. a 7:00 p.m. cada 15 minutos Saliendo de la UTP de 9:00 p.m. a 10:00 p.m. 
			  </div>
			</div>
            </li>

            <li>
            <div class="card">
			  <div class="card-header"><p><i class="icon f7-icons color-green " style="padding: 5px">timer_fill</i>Tiempo restante hasta parada más cercana:</p>
			  </div>
			  <div class="card-content card-content-padding">
			  	15 minutos
			  </div>
			</div>
            </li>


      		

        </ul>
	 </div>
	</div>
	<div>
	    <p class="link popup-close" >
	      <a href="#" class="center-center button button color-green" style="margin-left: 30px; margin-top: 10;"> Cerrar  </a><br>
	      </p>
	       </div>
	   </div>









<div class="popup popup-23">
    <div class="block">

     <div class="content-block-title" >Ruta 23 </div>
     <div class="row">
     	<div class="col-55">
     		<img src="static/dist/img/23.png" aling=bottom height="175">
     	</div>
     	
     </div>
    <div class="list-block" >
      <ul>
      	<li>
            <div class="card">
			  <div class="card-header"><p><i class="icon f7-icons color-green " style="padding: 5px">ticket_fill</i>Ruta:</p></div>
			  <div class="card-content card-content-padding">SAMARIA I - MOLINOS – SAMARIA I 30.12 Kms</div>
			</div>
            </li>

            <li>
            <div class="card">
			  <div class="card-header"><p><i class="icon f7-icons color-green " style="padding: 5px">time_fill</i>Horarios:</p></div>
			  <div class="card-content card-content-padding">
			  	 8 Min Hora Pico - 9 Min Hora Valle 
			  </div>
			</div>
            </li>

            <li>
            <div class="card">
			  <div class="card-header"><p><i class="icon f7-icons color-green " style="padding: 5px">timer_fill</i>Tiempo restante hasta parada más cercana:</p>
			  </div>
			  <div class="card-content card-content-padding">
			  	Prepárate, está a punto de pasar
			  </div>
			</div>
            </li>
            </ul>
	 </div>
	</div>
	<div>
	    <p class="link popup-close" >
	      <a href="#" class="center-center button button color-green" style="margin-left: 30px; margin-top: 10;"> Cerrar  </a><br>
	      </p>
	       </div>
	   </div>



  
	  	





{% endblock %}